
    <table class="table table-borderless table-hover separation">
        <thead>

        </thead>
        <tbody>{% if categ is not empty and get_all_annonces([categ]) is empty %}
            <h2>Il n'y a aucune annonce dans cette catégorie</h2>
        {% endif %}
        {% if categ is defined %}

            {% for affiche in get_all_annonces([categ])|slice(0,(get_all_annonces([categ])|length+2))%}
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-2">
                                {% if affiche.photo is empty %}
                                <img class="card-img-top" src="{{ asset('images/qmark.jpeg') }}" alt="Image de l'annonce" height="50" width="50">
                                {% else %}
                                <img class="card-img-top" src="{{ asset('uploads/media/images/'~affiche.getPhoto()) }}" alt="Image de l'annonce" height="50" width="50">
                                {% endif %}
                                {{ affiche.titre }}
                            </div>

                            <div class="col-md-2">{{ affiche.description }}</div>
                            <div class="col-md-2">{{ affiche.datepub|date("m/d/Y")}}</div>
                            <div class="col-md-2">{% if affiche.etat ==0 %}En cours...{% else %}accompli{% endif %}</div>
                            <div class="col-md-"2>
                                <p>Posté par {{ affiche.Idclient.getNomprenom() }}</p>
                                <p>Tel : {{ affiche.Idclient.getEmail() }} </p>
                                <p>Email : {{affiche.Idclient.getEmail() }}</p>
                            </div>
                            <div class="col-md-1">
                                <a href="{{ path('delete_annonce',{id:affiche.id}) }}" onclick="confirm('Etes vous sure de vouloir le supprimer ?');">Supprimer</a>
                                <a href="#">Ecrire</a>
                            </div>


                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
