
{% set msgform = form_type('Ads\\AdvertsBundle\\Form\\SendmessageType') %}
{% set email = app.user is not empty ? app.user.email : "" %}
<!-- Modal de l'envoie du mail -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vous êtes interessé par cette annonce !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                {{ form_start(msgform, {'method': 'post', 'action': path('contacter'), 'attr': {'class': 'contacter'}}) }}

                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    {{ form_widget(msgform.sender,{'value' : email},{attr:{"class":"form-control validate"}}) }}
                    {{ form_label(msgform.sender, 'Votre e-mail', {label_attr:{"class":"font-weight-bold","data-error":"wrong", "data-success":"right"}}) }}
                    {{ form_errors(msgform.sender)}}
                </div>

                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    {{ form_widget(msgform.message,{attr:{"class":"form-control md-textarea"}}) }}
                    {{ form_label(msgform.message, 'Votre message', {label_attr:{"class":"font-weight-bold","data-error":"wrong", "data-success":"right"}}) }}
                    {{ form_errors(msgform.message)}}
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                {{ form_widget(msgform.Envoyer,{attr:{"class":"btn btn-unique rondeur fa fa-paper-plane-o ml-1"}}) }}
            </div>
            {{ form_end(msgform) }}
        </div>
    </div>
</div>
