<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block stylesheets %}
        {#Font Awesome #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {# Bootstrap core CSS#}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        {#Material Design Bootstrap #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
        {# fin ccs de MDB#}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
        {# my css#}
        <link rel="stylesheet" href="/css/mystyle.css">
        <link rel="stylesheet" href="/css/style.css">

    {% endblock %}
    <title>Admin</title>
</head>
<body>
<div class="container">


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Liste des utilisateurs</a>
        <a href="{{ path('gest',{'categ':'fashion'}) }}">Fashion</a>
        <a href="{{ path('gest',{'categ':'informatique'}) }}">Informatique/Technologie</a>
        <a href="{{ path('gest',{'categ':'maison'}) }}">Maison</a>
        <a href="{{ path('gest',{'categ':'emploi'}) }}">Emploi/Service</a>
        <a href="{{ path('gest',{'categ':'evenement'}) }}">Evenement</a>
        <a href="">Statistique</a>
    </div>
    <div id="main">
        <div class="row" id="colornav">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        </div>
        <div class="row">
            <div>
                <fieldset>
                    <legend><span class="glyphicon glyphicon-send"></span> Vous êtes dans l'espace administarive</legend>
                    {% block body %}
                    {% endblock %}
                </fieldset>
            </div>
        </div>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "#FAFAFA";
        }
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>