

    <div class= {headercolor}>
    <div class="row">

            <div class="col-md-4">
                <a class="navbar-brand" href="#"><h2><strong>Annoncce Zatru</strong></h2></a>
            </div>

            <div class="col-md-7 offset-1">
                <ul class="nav ">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Toutes les annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('newannonce') }}">Publier une annonce</a>
                </li>
                {% if app.user is not empty %}
                    <li class="nav-item">
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger">Mon compte</button>
                            <button type="button" class="btn btn-danger dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Deconnexion</a>
                                <a class="dropdown-item" href="#">Mes annonces</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        {#<a class="nav-link" href="{{ path('fos_user_security_logout') }}">Deconnexion</a>#}
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    </li>
                {% endif %}
                </ul>

            </div>
    </div><br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_',{'categ':'fashion'}) }}">Fashion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_',{'categ':'informatique'}) }}">Informatique et Technologie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_',{'categ':'maison'}) }}">Maison</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_',{'categ':'emploi'}) }}">Emploi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_',{'categ':'equipement'}) }}">Equipement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_',{'categ':'immobilier'}) }}">Immobilier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_',{'categ':'evenement'}) }}">Evenement</a>
        </li>
            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <span><i class="material-icons" id="iconedesign">search</i></span>
                </div>
            </form>
    </ul>
</div>